<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>基本列表 </title>
    <script type="text/javascript" src="../../vue.js"></script>
</head>
<body>
    <div id="root">
        <!-- 遍历数组 -->
        <h3>人员列表</h3>
        <ul>
            <li v-for="(p, index) in persons" ::key="p.id">
                {{p.name}}-{{p.age}}
            </li>
        </ul>

        <!-- 遍历对象 -->
        <h3>汽车信息</h3>
        <ul>
            <li v-for="(value, k) in car" ::key="k">
                {{k}}-{{value}}
            </li>
        </ul>

        <!-- 遍历字符串 -->
        <h3>测试遍历字符串（用得少）</h3>
        <ul>
            <li v-for="(s, index) in str" ::key="index">
                {{index}}-{{s}}
            </li>
        </ul>

        <!-- 遍历指定次数 -->
        <h3>测试遍历指定次数（用得少）</h3>
        <ul>
            <li v-for="(n, index) in 5" ::key="index">
                {{index}}-{{n}}
            </li>
        </ul>
    </div>
    <script type="text/javascript">
        Vue.config.productionTip = false
        const vm = new Vue({
            el:'#root',
            data:{
                persons:[
                    {
                        id:'001',
                        name:'小王',
                        age:18,
                        gender:'男'
                    },
                    {
                        id:'002',
                        name:'小张',
                        age:19,
                        gender:'女'
                    },
                    {
                        id:'003',
                        name:'小李',
                        age:18,
                        gender:'女'
                    }
                ],
                car:{
                    name:'奥迪',
                    price:'20万',
                    color:'白色'
                },
                str:'hello'
            },
        })
    </script>
</body>
</html>
<!--  
    v-for指令:
        1.用于展示列表数据
        2.语法：v-for="(item, index) in xxx" :key="yyy"
            使用 of 也可以  v-for="(item, index) of xxx" :key="yyy"
        3.可遍历：数组、对象、字符串（用的很少）、指定次数（用的很少）
-->