<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>引出生命周期</title>
    <script type="text/javascript" src="../../vue.js"></script>
</head>
<body>
    <div id="root">
        <h2 v-if="a">你好啊</h2>
        <!-- <h2 style="opacity: opasity">欢迎光临</h2> -->
        <h2 :style="{opacity}">欢迎光临</h2>
    </div>
</body>
<script type="text/javascript">
    Vue.config.productionTip = false
    const vm = new Vue({
        el:'#root',
        data:{
            a:false,
            opacity:1
        },
        // Vue完成模板的解析并把 初始 的真实DOM元素放入页面后（挂载完毕）调用mounted
        // 初始： 第一次解析模板时执行，此后解析不会再调用 比如 <h2 v-if="a">你好啊</h2> a的变化
        mounted() {
            console.log('mounted')
            setInterval(()=>{
                this.opacity -= 0.01
                if(this.opacity <= 0) this.opacity = 1
                // 这里条件是小于等于0 因为js的计算不精确，0.1+0.2不一定等于0.3，因此需要小于
            }, 16)
        },
    })
</script>
</html>
<!--  
    生命周期：
        1.又名：生命周期回调函数、生命周期函数、生命周期钩子。
        2.是什么：Vue在关键时刻帮我们调用的一些特殊名称的函数。
        3.生命周期函数的名字不可更改，但函数的具体内容是程序员根据需求编写的。
        4.生命周期函数中的this指向是vm 或 组件实例对象。
-->